:root {
    --clr-dark: #030712;
    --clr-light: #F4F3F4;
    --clr-yellow: #fbd000;
    --clr-blue: #049cd8; 
    --clr-red: #e52521;
    --clr-green: #43b047;
}

html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: azure;
    color: black;
    scroll-behavior: smooth;
}

/* .container {
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-align: repeat(3rem);
    scroll-snap-type: y mandatory;
} */

.heading {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.secondSlide {
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

.thirdSlide {
    background-color: var(--clr-green);
    color: var(--clr-light);
}

.fourthSlide {
    background-color: var(--clr-yellow);
    color: var(--clr-red);
}

.fifthSlide {
    background-color: var(--clr-blue);
    color: var(--clr-yellow);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

.animation {
    opacity: 0;
    transform: translateX(-300px);
    transition: all 0.7s ease-out;
    transition-delay: 0.4s;
}

.scroll-animation {
    opacity: 1;
    transform: translateX(0);
}
